/* Background of the whole site */
body {
    background-color: #252827;
    transition: background-color .5s;
    color: azure;
}

/* Animating profile picture */
.profile-container {
    width: 75%;
    margin: auto;
}

.profile-container img {
        position: relative;
        border-radius: 50%;
        height: 20%;
        width: 20%;
        padding: 0;
        margin: 0;
        border: 15px solid transparent;
        margin-top: 24px / 2;
        z-index: 999;
        transition: all .3s ease-out;
        box-shadow: 5px 5px 0 10px black inset;
}

.profile-container a {
    position: relative;
}

.profile-container a::before {
        content:"";
        border: 10px solid rgba(255,255,255,0.3);
        border-radius: 50%;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 3px;
        animation: pulsate 2s ease-out;
        animation-iteration-count: infinite; 
        opacity: 0.0;
        z-index: 99;
}

.profile-container img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes pulsate {
    0% {transform: scale(0.6, 0.6); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1, 1); opacity: 0.0;}
  }

/* Profile bio */
.profile-bio-container {
    position: absolute;
    right: 20%;
    top: 17.5%;
    width: 50%;
}

.spoiler-content {
    display: inline;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    color: grey;
    background-position: right;
    background-image: linear-gradient(grey, grey);
    background-size: 100% 100% 
    
}

.spoiler-content:hover {
    color: azure;
    background-size: 0% 100%;
}
/* Side nav menu display*/
.side-nav {
    background-color: #252827;
    overflow: hidden;
    height: 0px;
    width: 35px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* Side nav menu options display */
.dropdown-content a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.dropdown-content a:hover {
    color: white;
}

/* Accordion in side nav meenu display */
.accordion {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.4s;
    background-color: #252827;
    outline: none;
    cursor: pointer;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

.active, .accordion:hover{
    color: white;
}

.accordion-content {
    padding-left: 32px;
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-content a {
    font-size: 20px;
}

/* Style side nav */
#main {
    transition: margin-left .5s;
    padding: 20px;
    transition: 0.4s;
}

/* Responsive side nav */
@media screen and (max-height: 450px) {
    .dropdown-content {padding-top: 15px;}
    .dropdown-content a {font-size: 18px;}
}

/* Menu Icon */
.menu-icon-container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.bar-1, .bar-2, .bar-3 {
    width: 35px;
    height: 5px;
    background-color: azure;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar in menu icon */
.change .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out second bar in menu icon */
.change .bar-2 {
    opacity: 0;
}

/* Rotate last bar in menu icon */
.change .bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
